astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1674664454972/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1671632566681/work
black @ file:///Users/runner/miniforge3/conda-bld/black-recipe_1673540118939/work
certifi==2022.12.7
charset-normalizer==3.0.1
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coverage @ file:///Users/runner/miniforge3/conda-bld/coverage_1674627527128/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1671811474537/work
idna==3.4
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1673993032261/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1672877899756/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mypy-extensions @ file:///Users/runner/miniforge3/conda-bld/mypy_extensions_1666795191704/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1674691760300/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1672264874562/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1673294947923/work
PyQt6==6.4.0
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.0
pytest==7.2.1
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1664412836798/work
pytest-qt @ file:///home/conda/feedstock_root/build_artifacts/pytest-qt_1666722740218/work
requests==2.28.2
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1666864188602/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3==1.26.14
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1666806114549/work
